#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main__div--1 {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, var(--nav-background) 35%, var(--shadow));
    border-radius: 100%;
    padding: 24px;
    width: 80vw;
    aspect-ratio: 1/1;
    max-width: 360px;
    margin: 80px 0px 0px 0px;
    box-shadow: -38px -50px 234px var(--shadow), 38px 50px 234px #000000e8;
}

.main__div--2 {
    position: relative;
    background: var(--nav-background);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.main__elipse {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: 1s linear;
}

/* .main__elipse.active {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
} */

.main__div--3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.main__clockTime {
    font-family: "Poppins", sans-serif;
    font-size: 5em;
    color: var(--white-text);
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0px;
    line-height: 100%;
    transition: 0.3s;
}

.main__clockButton {
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: var(--white-text);
    font-weight: 600;
    letter-spacing: 6px;
    margin: 10px 0px 0px 0px;
    line-height: 100%;
    cursor: pointer;
    transition: 0.1s ease;
}

.main__clockButton:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.main__settings {
    background: none;
    border: none;
    color: var(--white-text);
    font-size: 40px;
    opacity: 0.7;
    cursor: pointer;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}