.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0px 0px 0px;
}

.header__title {
    font-size: 28px;
    color: var(--title-color);
    font-family: var(--main-font);
    text-transform: lowercase;
    letter-spacing: 13px;
}

.header__div {
    position: relative;
    display: flex;
    gap: 1em;
    padding: 8px;
    margin: 0px;
    background: var(--nav-background);
    list-style: none;
    border-radius: 1000px;
}

.header__activeBackground {
    height: calc(100% - 16px);
    border-radius: 1000px;
    width: 140px;
    background: var(--primary-color);
    position: absolute;
    transition: 0.3s ease;
}

.header__button {
    font-family: var(--main-font);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 17px 28px;
    border-radius: 1000px;
    border: 0px;
    outline-width: 0px;
    background: transparent;
    color: #646883;
    z-index: 2;
    transition: 0.3s ease;
}

.header__button.active {
    color: var(--nav-background);
}

@media (max-width: 782px) {
    .header__title {
        font-size: 24px;
        letter-spacing: 4px;
    }

    .header__div {
        align-items: center;
        gap: 0.4em;
    }
    .header__button {
        padding: 14px 10px;
        font-size: 14px
    }
}